/*共用*/
:root {
    --base-blue: #142E7C;
    --dark-blue: #14527C;
    --hint-blue: #E4F3F9;
    --sp-blue: #5955C4;
    --base-red: #DC153E;
    --base-gray: #D6CFCF;
    /*功能列高*/
    --func-hight: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--base-blue);
}

    a:hover {
        color: var(--base-blue);
    }

.c-base-blue {
    color: var(--base-blue);
}

.c-dark-blue {
    color: var(--dark-blue);
}

.c-hint-blue {
    color: var(--hint-blue);
}

.c-sp-blue {
    color: var(--sp-blue);
}

.c-base-red {
    color: var(--base-red);
}

.bg-base-blue {
    background-color: var(--base-blue);
}

.bg-dark-blue {
    background-color: var(--dark-blue);
}

.bg-hint-blue {
    background-color: var(--hint-blue);
}

.bg-sp-blue {
    background-color: var(--sp-blue);
}

.bg-base-red {
    background-color: var(--base-red);
}

.bg-base-gray {
    background-color: var(--base-gray);
}

.btn {
    border-radius: .5rem;
}

    .btn:hover {
        opacity: .6;
        color: whitesmoke;
    }

/*scrollbar width */
::-webkit-scrollbar {
    width: 5px;
}

/*scrollbar Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/*scrollbar Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
}

    /*scrollbar Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/*檔案按鈕上傳*/
input[type="file"]::file-selector-button {
    display: none;
}
/*Checkbox*/
input[type=checkbox]:checked {
    background-color: var(--base-blue);
    border: none;
}
/* 提交按鈕 */
.submit-btn {
    /*background-color: var(--base-blue);*/
    color: white;
    width: 10rem;
    position: relative;
    bottom: 0;
    right: 0;
    display: block;
}

.category-badge {
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: whitesmoke;
}

.tag-top-right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .3rem;
    color: whitesmoke;
    z-index: 1;
}
/*圖片預覽區域 */
.image-demo {
    height: 10rem;
    width: 10rem;
}

.preview-img {
    height: 100%;
    min-width: 10rem;
}

/*獨立---------------------------------------------------*/
.redstar:before {
    content: "*";
    color: red;
}
/*logo*/
.logo {
    width: 300px;
    margin: auto;
    display: block;
    position: relative;
    text-align: center;
    padding: 1rem 0;
    height:5rem;
}

    .logo p {
        font-size: 1.2rem;
        font-weight: bolder;
        margin: 0;
    }

    .logo img {
        width: 120px;
        object-fit: cover;
    }
/* banner */
.banner {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

    .banner h3 {
        font-weight: bold;
        margin: 0;
    }

    .banner .dash {
        width: calc(1.75rem * 2);
        color: transparent;
        border-top: 2px solid black;
        margin: auto;
        padding-bottom: 1rem;
    }

/*數量提示小圓圖*/
.tip {
    background-color: var(--sp-blue);
    transform: translate(-25%,-50%);
}

.sidebar-btn {
    display: block;
    margin-bottom: 1rem;
    background-color: transparent;
    color: var(--base-blue);
    border-color: var(--base-blue);
    border-width: .2rem;
    border-style: dashed;
    border-radius: 15px;
}

    .sidebar-btn:hover, .slide-btn:active {
        background-color: var(--base-blue);
        color: white;
    }
/* 連結按鈕 */
.top-link {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-30%,-50%);
}


/* 功能列 */
.func-line {
    display: flex;
    justify-content: end;
    height: var(--func-hight);
    margin: 1rem 0;
}

.func-btn {
    background-color: var(--dark-blue);
    border: none;
    color: white;
    height: 2.5rem;
    line-height: 1.4rem;
    margin: calc( (var(--func-hight) - 2.5rem) / 2) 0;
    margin-left: .3rem;
}
/* 圖片卡 */
/*.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    .card-container::after {
        content: "";
        flex: auto;
    }*/
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 14rem);
    justify-content: center;
    grid-gap: 7px;
}

.card-item {
    position: relative;
    background-color: aliceblue;
    height: 20rem;
    text-align: left;
    padding: 1rem;
    margin-bottom: 1rem;
}

    .card-item .img-container {
        height: 45%;
        position: relative;
    }

    .card-item .img-center {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .card-item .sub-title {
        font-size: 1.2rem;
        font-weight: bolder;
        line-height: 1.5rem;
    }

    .card-item .text {
        width: 85%;
        height: 5rem;
        overflow-y: scroll;
        overflow-wrap: break-word;
        background-color: white;
    }

    .card-item .plus-btn {
        font-size: 1.7rem;
        color: var(--sp-blue);
        position: absolute;
        right: 1rem;
        bottom: .5rem;
    }

/* 購物車 */
.cart-container {
    min-height: calc( 12rem *2 );
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 10rem;
    margin-bottom: 2rem;
    background-color: aliceblue;
}

    .cart-item .cart-title {
        height: 100%;
        width: 24rem;
        line-height: 10rem;
        color: var(--base-blue);
    }

    .cart-item .text-part {
        width: 5rem;
        pointer-events: none;
        border-left: 0px;
        border-right: 0px;
    }

    .cart-item .btn-del {
        background-color: var(--base-red);
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        color: whitesmoke;
    }
/*隱藏式導覽列*/
.nav-panel.show {
    transform: translateX(0%);
    opacity: .8;
}
.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.position-top-right {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(80%,180%);
}
.hamburger {
    border: none;
    width: 20px;
    height: 13px;
    z-index: 10;
    background-color: inherit;
    visibility: hidden;
}
    .hamburger.active{
        background-color:var(--base-gray);
        opacity:.8;
    }
    .hamburger span {
        position: absolute;
        left: 0;
        background: var(--base-blue);
        width: inherit;
        height: 3px;
        transition: transform 0.5s, opacity 0.5s;
    }

.top-line {
    top: 0px;
}

.center-line {
    top: 5px;
}

.bottom-line {
    bottom: 0px;
}

.top-line.active {
    transform: translateY(5px) rotate(45deg);
}

.center-line.active {
    opacity: 0;
}

.bottom-line.active {
    transform: translateY(-5px) rotate(-45deg);
}

@media screen and (max-width:768px) {
    .card-container {
        grid-template-columns: repeat(auto-fill, 80%);
    }
    .hamburger{
        visibility:visible;
    }
    .nav-panel {
        background: var(--base-gray);
        position: fixed;
        top: 0;
        left: 0;
        width: 40%;  
        height: 100vh;
        transition: transform 0.7s, opacity 1s;
        transform: translateX(-100%);
        opacity: 0;
        z-index:9;
    }
    .nav-panel .sidebar-btn:first-child{
        margin-top:5rem;
    }
    .small-hidden{
        display:none;
    }
}
