@import '../css/base.css';
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--base-blue);
}

    a:hover {
        color: var(--base-blue);
    }
/*Logo*/
.logo {
    width: 300px;
    margin: auto;
    display: block;
    position: relative;
    text-align: center;
    color: var(--base-blue);
    padding: 1rem 0;
}

    .logo p {
        font-size: 1.8rem;
        font-weight: bolder;
        margin: 0;
    }

    .logo img {
        width: 170px;
        object-fit: cover;
    }
/*banner*/
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 150px;
    background-color: var(--hint-blue);
    text-align: center;
    padding: 1rem;
}

    .banner h2 {
        font-weight: bold;
        margin: 0;
    }

    .banner .dash {
        width: 4rem;
        color: transparent;
        border-top: 2px solid black;
        margin-top: -1.5rem;
    }
/*top-func*/
.text-btn {
    position: absolute;
    top: 2.5rem;
    right: var(--horizontal-margin);
    z-index: 1;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--base-blue);
}
.tip {
    background-color: var(--sp-blue);
    transform: translate(0%,-50%);
}

.main {
    padding: 0 var(--horizontal-margin);
    background-color: #aaa;
}

.slide {
    background-color: burlywood;
    padding-top: var(--func-hight);
}

.slide-btn {
    display: block;
    margin-bottom: 1rem;
    background-color: transparent;
    color: var(--base-blue);
    border-color: var(--base-blue);
    border-width: .2rem;
    border-style: dashed;
    border-radius: 15px;
}

    .slide-btn:hover, .slide-btn:active {
        background-color: var(--base-blue);
        color: white;
    }

.func-line {
    display: flex;
    justify-content: end;
    height: var(--func-hight);
    background-color: bisque;
}

.func-btn {
    background-color: var(--dark-blue);
    border: none;
    color: white;
    height: 2.5rem;
    line-height: 1.4rem;
    margin: calc( (var(--func-hight) - 2.5rem) / 2) 0;
    margin-left: .3rem;
    width:9rem;
}

    .func-btn:hover {
        opacity: 60%;
    }

.gallery {
    height: calc(100vh - 100px );
    background-color: yellow;
}

.c-card {
    background-color: aliceblue;
    width: 300px;
    height: 350px;
    text-align: center;
    padding: 1rem;
}

.img-wrap {
    height: 40%;
    background-color: indianred;
    position: relative;
}

    .img-wrap > img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

.c-card .card-body {
    text-align: left;
}


/*create*/
.column {
    display: inline;
    width: calc(100% - 120px);
}

h1 {
    color: var(--base-blue);
    font-weight: bolder;
}

.submit-btn {
    background-color: var(--base-blue);
    color: white;
    width: 10rem;
    position: relative;
    bottom: 0;
    right: 0;
    display: block;
}

.redstar:before {
    content: "*";
    color: red;
}

/*檔案上傳*/
input[type="file"]::file-selector-button {
    display: none;
}
