<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TsetCMS.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="container position-relative">
        <div class="row">
            <div class="col-12">
                <div class="top-link fw-bolder">
                    <a class="position-relative" asp-controller="Cart" asp-action="CartQueryResult">
                        待出貨清單
                        <span class="position-absolute top-0 start-100 badge rounded-pill tip">
                            @ViewData["CartAmount"]
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </a>
                </div>
                <a asp-controller="Product" asp-action="ProductQueryResult" class="logo c-base-blue">
                    <img src="~/img/changing_logo.png" alt="CGlogo" class="mx-auto d-block">
                    <p>全景產品管理後台</p>
                </a>
            </div>
        </div>
    </div>
    

    @RenderBody()

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <div class="text-muted d-flex justify-content-center flex-column flex-lg-row lh-base">
                <span>&copy; 2022 全景軟體股份有限公司&nbsp;版權所有</span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
