@model IEnumerable<TestCMS.Entity.Entity.CartTable>

@{
    ViewData["Title"] = "待出貨清單";
}

<div class="main">
    <div class="container">
        <div class="mb-4">
            <h1 class="fw-bolder c-base-blue d-inline">待出貨清單</h1>
            >
            <a class="fw-bolder"
               asp-controller="Shipping" asp-action="ShippingQueryResult">
                出貨清單
            </a>
        </div>

        <form asp-controller="Cart">
            <div class="cart-container">
                @foreach (var item in Model)
                {
                    @if (item.ShipCode == "no")
                    {
                        <div class="cart-item shadow">
                            <input class="form-check-input mx-4" type="checkbox" name="@item.Id" value=@item.Product.Category.Id>
                            <div class="image-demo">
                                <img class="img-thumbnail me-5 preview-img " src=@item.Product.SaveImageUrl>
                            </div>

                            <div class="position-relative h-100 me-5">
                                <span class="category-badge badge rounded-pill position-absolute top-0 bg-sp-blue">@item.Product.Category.Name</span>

                                <h3 class="cart-title fw-bolder">&nbsp;@item.Product.Name</h3>
                            </div>

                            <div class="btn-group me-4" role="group" aria-label="Basic outlined example">
                                <a asp-action="CartItemAmountUpdate" asp-route-id=@item.Id asp-route-mode="decrease"
                                   class="btn btn-outline-dark shadow-none">
                                    <i class="bi bi-dash"></i>
                                </a>
                                <button type="button" class="btn btn-outline-dark text-part">@item.Amount</button>
                                <a asp-action="CartItemAmountUpdate" asp-route-id=@item.Id asp-route-mode="increase"
                                   class="btn btn-outline-dark shadow-none">
                                    <i class="bi bi-plus"></i>
                                </a>
                            </div>
                            <a onclick="return confirm('你確定要刪除嗎?')"
                               asp-action="CartItemDelete" asp-route-id=@item.Id class="btn btn-del">刪除</a>
                        </div>
                    }
                }
            </div>
            <div class="d-flex flex-row-reverse">
                <a class="btn btn-lg submit-btn bg-base-blue" onclick="return SelectCheck();">
                    出貨
                </a>
            </div>

        </form>
    </div>

</div>
@section Scripts{
    <script>
        function SelectCheck() {
            var ipCheck = $("input[type='checkbox']:checked");
            let isSuccess = true;
            let dto = {};
            if (ipCheck.length == 0) {
                alert('請勾選資料');
                isSuccess = false;
            }
            else {
                let cklist = [];
                let categoryId = ipCheck[0].value;
                console.log(categoryId);
                ipCheck.each(function (idx, item) {
                    if (categoryId != item.value) {
                        alert("產品類型衝突")
                        isSuccess = false;
                    }
                    cklist.push(Number(item.name));
                });
                dto["CartIdList"] = cklist;
                dto["CategoryId"] = Number(categoryId);
            }
            if (isSuccess) {
                @*alert('成功\n' + JSON.stringify(dto));*@
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ShippingItemCreate", "Shipping")',
                    data: JSON.stringify(dto),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        location.href = "/Shipping/ShippingQueryResult";
                        @*console.log("成功\n"+data);*@
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("XMLHttpRequest\n" + XMLHttpRequest + "textStatus\n" + textStatus);
                    }
                });
            }
            return isSuccess;
        }
    </script>


}
