<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<!--<variable name = "Layout" value="${longdate}|${event-properties:item=EventId_Id:whenEmpty=-1}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"/>-->
	<variable name="Layout" value="${time} | ${level:uppercase=true} |
			  ${newline}REQUEST ID:${aspnet-TraceIdentifier} 
			  ${newline}發生類別：${logger}
			  ${newline}來源：${callsite:className=true}
			  ${newline}Log紀錄：${message}
			  ${newline}方法追蹤：${stacktrace:format=DetailedFlat:topFrames=2:skipFrames=0:separator=\r\n}
			  ${newline}發生例外類別：${exception:format=type}${newline}例外訊息：${exception:format=message}
			  ${newline}完整例外內容:${exception:innerformat=ToString:maxInnerExceptionLevel=10:innerExceptionSeparator===>:separator===>:format=ToString} ${newline}"/>

	<!--[變數] 檔案位置 -->
	<variable name="LogTxtDir" value="${currentdir}/Logs/${shortdate}/"/>	
	
	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="f" fileName="${LogTxtDir}/${logger}.log"
				layout="${Layout}" encoding="UTF-8" />
	</targets>

	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Info" writeTo="f" />
	</rules>
</nlog>