@model TestCMS.Entity.VM.IndexVM;

<div class="banner">
    <h2>尋找最佳方案</h2>
    <span class="dash"></span>
    <h4>因應不同產業，提供最適應的解決方案</h4>
</div>
<div class="main">
    <div class="row gx-0">
        <div class="slide col-lg-2 col-sm-3">

            @foreach (var item in Model.Categories)
            {
                <a class="test btn btn-lg slide-btn" id=@item.Id>@item.Name</a>
            }

        </div>
        <div class="wrap col">
            <div class="func-line col-sm-12">
                <a asp-action="CategoryAdd" class="btn btn-lg func-btn ">新增類別</a>
                <a asp-action="ProductAdd"class="btn btn-lg func-btn ">+新增產品</a>
            </div>

            <div class="gallery">

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function(){
            $(".test").click(function(ev){
                ev.preventDefault();
                let a=ev.target;
                location.href = "/Product/Index?searchStr="+a.textContent;
            })
        });
    </script>
}
